body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position:absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
#password{
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    font-size: 18px;
}
#generate{
    background-color: #0074d9;
    color: #fff;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    font-weight: bold;
    
}